<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS Tutorial</title>
</head>
<body>
    <div id="root">
        <input type="text" v-model="message">
        <p>The value of input is: {{ message }}</p>
        <hr>

        <ul>
            <li v-for="name in names">{{ name }}</li>
        </ul>

        <input id="input" type="text" v-model="newName">
        <button @click="addName">Add Name</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#root',
            data: {
                newName: '',
                message: 'Hello world!',
                names: ['Reymark', 'Morganne', 'Nero', 'Talia']
            },

            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                }
            }
        })
    </script>
</body>
</html>